.chip {
  background: #d0cfcf;
  font-weight: 500;
  border-radius: 15rem;
  height: 2.3rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.highlighted {
  background-color: #f7baba;
}

.avatar-chip {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 15rem;
  margin-right: 0.5rem;
}

.close-button {
  color: rgb(46, 46, 46);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
}
